
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    /* height: 100vh; */
}

.top-nav {
    /* width: 1; */
    height: 102px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    /* width: 40px; */
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #000;
   
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info > div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.contact-info i {
    margin-right: 5px;
    color: #555;
     font-size: 24px;
    /* font-weight: 400; */
    line-height: 24px;
    padding: 0 5px;
}

.contact-info span {
    font-size: 14px;
    color: #555;
    padding: 0 8px;
    border-left: 1px solid black;
}

button {
    background-color: #f4a10e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #e6950c;
}
button a { 
    text-decoration: none;

}

nav {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #007bff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
   
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #0056b3;
}
.humberger.fa-solid {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(102, 102, 102);
    border-radius:  8px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 35px;
 
}
.abdi{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(102, 102, 102);
    background-color: #f4a10e;
    border-radius:  8px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 35px;

}
.humberger{
    display: none;
   
    
}
.mobile-menu {
    display: none;
}

 .background {
    height: 310px;
    width: 100%;
    background-image:
    /* linear-gradient(rgba(252, 252, 252, 0.1), rgba(233, 231, 231, 0.9)), */
     url('https://freebw.com/templates/insurance/img/backgrounds/heading-page-12.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 110px 0 110px; */

}
.background h1 {
    color: white;
    font-size: 55px;
    line-height: 53px;
    font-weight: 700;
    transform: translate(-50%, -50%);
    position: absolute;
    /* width: 80%; */
    left: 50%;
    top: 50%;
    text-transform: capitalize;
    font-style: bold;
    
}


.section1{
    padding: 74px 0px;
    width: 100%;
    height: auto;
    background-color: #f0f5f8;
    
}
 .section1 .h1 {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    font-size: 2rem;
    margin: 0 auto;
    color: #0177d7;
    line-height: 40px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;

} 

.team-container {
    width: 1200px;
    height: auto;
    display: grid;
    grid-template-columns: repeat( 2, 1fr) ;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px auto;
}

.team-member {
    width: 100%;
    height: 325px;
    display: flex;
    margin: 5px auto;
    gap: 10px;
    background-color: white;
    box-shadow: 10px 10px  10px rgba(250, 245, 245, 0.5);
}

.team-member img {
    height: 100%;
    width: 260px;
}

.team-member h2 {
    color: #0177d7;
    margin: 10px 0 5px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 700;
}
.team-member h2:hover{
    color: rgb(243, 156, 18);
}



.team-member h3 {
    color:  rgb(153, 153, 153);
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 15px;
}

.team-member p {
    color: #7f8c8d;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.contact-for{
    margin: 10px 0px;
    padding: 3px 30px;
} 

 .contact-infor {
    display: flex;
    flex-direction: column;
    margin-top: 15px ;
}

.contact-infor p {
    color: #0177d7;
  
    font-size: 18px;
    margin: 5px 0;
} 

.contact-infor p i{
    color: #e67e22;
}

.social-media a i {
    color: #2c3e50;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin: 20px 5px;
    text-decoration: none;
    cursor: pointer;
} 
.social-media a i:hover{
    color: #e67e22;
} 


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078d7; 
    color: white;
    padding: 20px;
    width: 100%;
    height: 150px;
}

.text {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

.quote-button {
    background-color: #f39c12; 
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.3s;
}

.quote-button:hover {
    background-color: #e67e22; 
}
@media (max-width: 1380px) {
    .team-container{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px auto;
       
    }


}

@media (max-width: 1180px) {
    .contact-info{
        display: none;
    }

}
@media (max-width: 984px) {
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
nav ul li a {
    display:none ;
}


.humberger{
    display: block;
}
.humberger i{
    font-size: 2.2rem;
    cursor: pointer;
    color: burlywood;
  
  
}
.mobile-menu{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: fixed;
    gap: 1rem;
    z-index: 11111;
    padding: 2rem 0;
    background-color: #f7f7f7;
    top: 0;
    bottom: 0;

}

.mobile-menu li{
    list-style: none;
    border-bottom:0.7px solid rgba(155, 146, 146, 0.253);  
    padding: 1rem;
}
.mobile-menu li a{
   text-decoration: none;
margin: 20px;
   color: black;
}
.mobile-menu[data-visible="false"]{
    display: none;
}
.mobile-menu button .btn{
    color: white;
     margin: 1rem ; 
     text-decoration: none;
}
.mobile-menu button{
    margin: 40px;
}
.humberger i[data-visible="true"]{
    display: block;
}
.humberger i[data-visible="false"]{
    display: none;
}

}
@media (max-width: 484px) {
    .team-member{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .team-member img {
        width: 100%;
        height: auto;
    }
     .banner {
        display: flex;
        flex-direction: column;
        
    } 
    .banner .text {
        font-size: 1rem;
    }
    .banner .quote-button {
        font-size: 13px;
    }
}
@media (max-width: 384px) {
    .section1 .h1 {
        font-size: 1.5rem;
    }
    button{
        display: none;
      }
}
