* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
img {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    /* width: 1; */
    height: 102px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    /* width: 40px; */
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #000;
   
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info > div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.contact-info i {
    margin-right: 5px;
    color: #555;
     font-size: 24px;
    /* font-weight: 400; */
    line-height: 24px;
    padding: 0 5px;
}

.contact-info span {
    font-size: 14px;
    color: #555;
    padding: 0 8px;
    border-left: 1px solid black;
}

button {
    background-color: #f4a10e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #e6950c;
}

nav {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #007bff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
   
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #0056b3;
}
.fa-solid {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(102, 102, 102);
   
    border-radius:  8px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 35px;
 
}
.abdi{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(102, 102, 102);
    background-color: #f4a10e;
    border-radius:  8px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 35px;

}
.humberger{
    display: none;
   
    
}
.mobile-menu {
    display: none;
}
/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    /* height:fit-content; */
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
  }
  .slideshow-container img{
    height: 600px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  
  }
  .gym {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* z-index: 1; */
}
/* .gym .left{
    position: relative;
    bottom: 0;
} */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content P {
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
    letter-spacing: 0.5;

}
.content h2 {
    font-size: 3.75rem ;
    font-weight: 700;
    /* letter-spacing: 1px; */
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}
.content a {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 20px;
   background-color: rgb(63, 156, 231);
    color: #015ba4;
    text-decoration: none;
    cursor: pointer; 
    text-transform: capitalize;

}
.content a:hover{
    background-color: rgb(63, 156, 231);
    color: white;
}
.b .color{
    background-color: #f4a10e;
}
.b .color:hover{
    background-color: none;
}
.b{
    display: flex;
    gap: 20px;
}
.b .m {
    background-color: hsla(207, 99%, 32%, 0.8);
    color: white;
}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.60s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
 
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .products {
    width: 100%;
    height: auto;
    margin-top: 300px;

}
.products .h1{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    font-size: 2rem;
    margin: 0 auto;
    color: #0177d7;
    line-height: 40px;
    font-weight: 500;
    text-transform: capitalize;
    /* background-color: #000; */
    padding: 10px;
    /* font-style: bold; */

}



.product-grid {
    width: 1200px;
    height: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    margin: 40px auto;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: #fff;
}

.product-item img {
    width: 95%;
    height: auto;
}

.product-item h3 {
    font-size: 20px;
    color: #007bff;
    margin: 10px 20px;
}

.product-item p {
    font-size: 14px;
    color: #555;
    margin: 0 20px 20px 20px;
}

































































@media (max-width: 1240px) {
    .product-grid{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px auto;
    }

}


@media (max-width: 1180px) {
    .contact-info{
        display: none;
    }

}
@media (max-width: 984px) {
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
nav ul li a {
    display:none ;
}


.humberger{
    display: block;
}
.humberger i{
    font-size: 2.2rem;
    cursor: pointer;
    color: burlywood;
    /* display: block; */
  
}
.mobile-menu{
    display: flex;
    flex-direction: column;
    width: 50%;
 
    position: fixed;
 
    gap: 1rem;
    z-index: 11111;
    padding: 2rem 0;
    background-color: #f7f7f7;
    top: 0;
    bottom: 0;

}

.mobile-menu li{
    list-style: none;
    border-bottom:0.7px solid rgba(155, 146, 146, 0.253);  
    padding: 1rem;
}
.mobile-menu li a{
   text-decoration: none;
margin: 20px;
   color: black;
}
.mobile-menu[data-visible="false"]{
    display: none;
}
.mobile-menu button .btn{
    color: white;
    /* margin: 250px 0; */
    /* background: orange; */
     margin: 1rem ; 
     text-decoration: none;
}
.mobile-menu button{
    margin: 40px;
}
.humberger i[data-visible="true"]{
    display: block;
}
.humberger i[data-visible="false"]{
    display: none;
}
.product-item {
    width: calc(50% - 20px);
}
.product-item {
    width: 100%;
}

}

@media (max-width: 768px) {
    .product-item {
        width: 100%;
    }
    .content h2{
        font-size: 2.5rem;
    }
    .product-item {
        width: 100%;
    }
    .product-grid{
      
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px auto;
    }
}
